<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation 
         defaultLanguage="c#"
         debug="true"
    />

    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors 
    mode="RemoteOnly" 
    /> 

    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->

    <!--Specify Forms-Based Authentication
<authentication mode="Forms">
   <forms name="CODE" 
   loginUrl="CreateAccount.aspx" 
   protection="All" 
   timeout="1" 
   path="/code"/>
</authentication>

The <forms> element's name attribute specifies the name of the HTTP cookie that's set upon a successful 
authentication. The default value is .ASPXAUTH. If you're running multiple applications on a single server, 
you must give each application or virtual directory a unique cookie name using this attribute. The loginUrl 
attribute specifies the URL to which the user is redirected if a valid authentication cookie isn't found. 
The protection attribute specifies the level of protection (encryption, MAC-based validation) for the authentication cookie.
"All" is the default (and recommended) value. The timeout attribute specifies the number of minutes after which the 
cookie expires. You can use this attribute to require an additional login after a given amount of inactivity. 
The authentication cookie's expiration date isn't refreshed with each ASPX page request, 
but rather upon any page request that occurs after more than half the specified time has elapsed. 
The path attribute specifies the path for cookies that are issued by ASPX scripts within the virtual directory.

-->
     <authentication mode="Forms">
   <forms name="FormsAuthDB.AspxAuth"
    loginUrl="default.aspx"
    protection="All"
    timeout ="10"
    path="/"/>
  </authentication>
  <authorization>
   <deny users="?" />
   <allow users="*"/>
  </authorization>


    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;user id=sa;password="
            cookieless="false" 
            timeout="20" 
    />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
 </system.web>

</configuration>
