 
<configuration>
    
  <system.web>

    <compilation 
         defaultLanguage="c#"
         debug="true"
    />

    
 
 
 <authorization>
   <!-- Order of elements and casing are important below -->
   <allow roles="Administrator"/>
   <deny users="*"/>
  </authorization>

    
 
   
 </system.web>

  

</configuration>

  